anyio @ file:///C:/Users/task_177313442920801/croot/anyio_1773134524138/work
argon2-cffi @ file:///C:/Users/task_176606713276293/croot/argon2-cffi_1766067885361/work
argon2-cffi-bindings @ file:///C:/miniconda3/conda-bld/argon2-cffi-bindings_1757925007150/work
asttokens @ file:///C:/Users/task_177313470048861/croot/asttokens_1773135664256/work
async-lru @ file:///C:/Users/task_L6DlvvPWTBGYV_1/croot/async-lru_1783506239428/work
attrs @ file:///C:/Users/task_177495968274377/croot/attrs_1774959754711/work
babel @ file:///C:/miniconda3/conda-bld/babel_1764159347172/work
beautifulsoup4 @ file:///C:/Users/task_178117338268107/croot/beautifulsoup4-split_1781173626265/work
bleach @ file:///C:/Users/task_178239052612818/croot/bleach_1782390608179/work
brotlicffi @ file:///C:/miniconda3/conda-bld/brotlicffi_1764961370587/work
certifi @ file:///C:/Users/task_178221458302726/croot/certifi_1782214938388/work/certifi
cffi @ file:///C:/miniconda3/conda-bld/cffi_1761832792265/work
charset-normalizer @ file:///C:/Users/task_cU6cRRWFQl6Bt_0/croot/charset-normalizer_1782917499173/work
colorama @ file:///C:/ci_311/colorama_1676422310965/work
comm @ file:///C:/miniconda3/conda-bld/comm_1763119240032/work
debugpy @ file:///C:/Users/task_Zjf71EwsRq-QX_0/croot/debugpy_1783354555614/work
decorator @ file:///C:/Users/task_178169125463264/croot/decorator_1781691364601/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
executing @ file:///C:/miniconda3/conda-bld/executing_1757061250618/work
fastjsonschema @ file:///C:/miniconda3/conda-bld/python-fastjsonschema_1763718732564/work
h11 @ file:///C:/miniconda3/conda-bld/h11_1761931279881/work
httpcore @ file:///C:/b/abs_25m7_xthp6/croot/httpcore_1748526065845/work
httpx @ file:///C:/miniconda3/conda-bld/httpx_1760447374704/work
idna @ file:///C:/Users/task_178056140082204/croot/idna_1780561467236/work
imbalanced-learn @ file:///home/conda/feedstock_root/build_artifacts/imbalanced-learn_1766355322435/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1773931568/work
ipykernel @ file:///C:/Users/task_177261243624985/croot/ipykernel_1772612530162/work
ipython @ file:///C:/Users/task_178034878129862/croot/ipython_1780348840829/work
ipython_pygments_lexers @ file:///C:/b/abs_b66hj1lo19/croot/ipython_pygments_lexers_1744753262043/work
jedi @ file:///C:/Users/task_177868139753358/croot/jedi_1778681788146/work
Jinja2 @ file:///C:/b/abs_920kup4e6u/croot/jinja2_1741711580669/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1765794027227/work
json5 @ file:///C:/miniconda3/conda-bld/json5_1763718659894/work
jsonschema @ file:///C:/Users/task_176795546861110/croot/jsonschema_1767955573227/work
jsonschema-specifications @ file:///C:/miniconda3/conda-bld/jsonschema-specifications_1762788559143/work
jupyter-events @ file:///C:/Users/task_177806709808371/croot/jupyter_events_1778067287164/work
jupyter-lsp @ file:///C:/Users/task_176977264821400/croot/jupyter-lsp_1769772760423/work
jupyter_client @ file:///C:/Users/task_178118289617436/croot/jupyter_client_1781183303109/work
jupyter_core @ file:///C:/miniconda3/conda-bld/jupyter_core_1764588344213/work
jupyter_server @ file:///C:/Users/task_178240057064375/croot/jupyter_server_1782400812014/work
jupyter_server_terminals @ file:///C:/Users/task_177028947499322/croot/jupyter_server_terminals_1770289599454/work
jupyterlab @ file:///C:/Users/task_178272733862626/croot/jupyterlab_1782727492845/work
jupyterlab_pygments @ file:///C:/b/abs_d5alfet8m6/croot/jupyterlab_pygments_1741124274578/work
jupyterlab_server @ file:///C:/Users/task_176962938560339/croot/jupyterlab_server_1769629890799/work
knime-extension @ file:///home/jenkins/workspace/knime-python_master/test_knime_extension/conda-bld/knime-extension_1734362110869/work
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1710435156458/work
MarkupSafe @ file:///C:/Users/task_178239072175843/croot/markupsafe_1782390848574/work
matplotlib-inline @ file:///C:/miniconda3/conda-bld/matplotlib-inline_1762779272071/work
mistune @ file:///C:/Users/task_XqGQzJ7QQZSPG_0/croot/mistune_1783704050884/work
nbclient @ file:///C:/Users/task_178248394252326/croot/nbclient_1782484534944/work
nbconvert @ file:///C:/Users/task_178239098581093/croot/nbconvert-meta_1782391077138/work
nbformat @ file:///C:/b/abs_c2jkw46etm/croot/nbformat_1728050303821/work
nest-asyncio @ file:///C:/b/abs_65d6lblmoi/croot/nest-asyncio_1708532721305/work
notebook @ file:///C:/Users/task_FaHQW1i3TiSpR_0/croot/notebook_1783948749647/work
notebook_shim @ file:///C:/Users/task_176962931554331/croot/notebook-shim_1769629908292/work
numpy @ file:///D:/bld/numpy_1707225528937/work/dist/numpy-1.26.4-cp311-cp311-win_amd64.whl#sha256=537f0573fefb1e93b3633e8a79102e6b6d2911e09e0a90008993efef4242448e
overrides @ file:///C:/miniconda3/conda-bld/overrides_1762349150310/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1777103621/work
pandas @ file:///D:/bld/pandas_1688740700873/work
pandocfilters @ file:///C:/miniconda3/conda-bld/pandocfilters_1756977624481/work
parso @ file:///C:/Users/task_177867409573477/croot/parso_1778674220283/work
pillow @ file:///D:/bld/pillow_1729065756366/work
platformdirs @ file:///C:/Users/task_177365235863468/croot/platformdirs_1773652992932/work
prometheus_client @ file:///C:/Users/task_177273339182086/croot/prometheus_client_1772733455299/work
prompt_toolkit @ file:///C:/miniconda3/conda-bld/prompt-toolkit_1761745034319/work
psutil @ file:///C:/miniconda3/conda-bld/psutil_1761896536656/work
pure_eval @ file:///C:/miniconda3/conda-bld/pure_eval_1757067065603/work
py4j @ file:///home/conda/feedstock_root/build_artifacts/py4j_1736977732883/work
pyarrow==18.1.0
pycparser @ file:///C:/Users/task_177495971060608/croot/pycparser_1774959807716/work
Pygments @ file:///C:/Users/task_177512672411206/croot/pygments_1775127041648/work
PySocks @ file:///C:/miniconda3/conda-bld/pysocks_1761753028158/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
python-json-logger @ file:///C:/miniconda3/conda-bld/python-json-logger_1764590274458/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pytz_1777892201/work
pywin32 @ file:///C:/Users/task_178231499240660/croot/pywin32_1782315866831/work
pywinpty @ file:///C:/Users/task_177521390297173/croot/pywinpty_1775213973737/work/pywinpty-src
PyYAML @ file:///C:/miniconda3/conda-bld/pyyaml_1763465512847/work
pyzmq @ file:///C:/miniconda3/conda-bld/pyzmq_1762375608224/work
rdkit==2026.3.1
referencing @ file:///C:/miniconda3/conda-bld/referencing_1762536905217/work
requests @ file:///C:/Users/task_178034870851729/croot/requests_1780348781727/work
rfc3339-validator @ file:///C:/b/abs_ddfmseb_vm/croot/rfc3339-validator_1683077054906/work
rfc3986-validator @ file:///C:/b/abs_6e9azihr8o/croot/rfc3986-validator_1683059049737/work
rpds-py @ file:///C:/miniconda3/conda-bld/rpds-py_1762366642821/work
scikit-learn @ file:///D:/bld/bld/rattler-build_scikit-learn_1765801251/work/dist/scikit_learn-1.8.0-cp311-cp311-win_amd64.whl#sha256=6b709d3d1e68d89c77b77f0fb7aa31e6f68e5148d615ecd56f94da3e1262056b
scipy @ file:///C:/bld/scipy-split_1771879216239/work/dist/scipy-1.17.1-cp311-cp311-win_amd64.whl#sha256=058050e81ee500962186d6d4638e7c43e114103164f21e4456e3182aa87b600b
Send2Trash @ file:///C:/Users/task_176817069519266/croot/send2trash_1768170816011/work
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
sklearn-compat @ file:///home/conda/feedstock_root/build_artifacts/sklearn-compat_1766329668603/work
soupsieve @ file:///C:/Users/task_XLnLlKDsSKeil_0/croot/soupsieve_1783697307367/work
stack_data @ file:///C:/miniconda3/conda-bld/stack_data_1757067061065/work
terminado @ file:///C:/Users/task_176959141466282/croot/terminado_1769591760225/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1741878222898/work
tinycss2 @ file:///C:/miniconda3/conda-bld/tinycss2_1764949114861/work
tornado @ file:///C:/Users/task_178231420648454/croot/tornado_1782314863415/work
traitlets @ file:///C:/Users/task_177874327775693/croot/traitlets_1778743388227/work
typing_extensions @ file:///C:/b/abs_ecq8gc0vbm/croot/typing_extensions_1756281142218/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1777068919240/work
urllib3 @ file:///C:/Users/task_177853588401322/croot/urllib3_1778536216654/work
wcwidth @ file:///C:/Users/task_Q-fRsFovQCORQ_1/croot/wcwidth_1783584623182/work
webencodings==0.5.1
websocket-client @ file:///C:/b/abs_5dmnxxoci9/croot/websocket-client_1715878351319/work
win_inet_pton @ file:///C:/miniconda3/conda-bld/win_inet_pton_1761746278197/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_zipp_1776131454/work
